@using DomainModels

<div class="card shadow-sm mt-4">
    <div class="card-body">
        <h5 class="card-title">
            <i class="bi bi-house-door-fill"></i> Hotels
        </h5>
        <a type="button" href="/dashboard/createhotel" class="btn btn-secondary">+</a>
        <div class="table-responsive">
            <table class="table table-striped align-middle">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Zip</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Percentage Price</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var h in hotels)
                    {
                        <tr>
                            <td>@h.Id</td>
                            <td>@h.Name</td>
                            <td>@h.Road</td>
                            <td>@h.Zip</td>
                            <td>@h.City</td>
                            <td>@h.Country</td>
                            <td>@h.PercentagePrice%</td>
                            <td>@h.Phone</td>
                            <td>@h.Email</td>
                            <td>
                                <NavLink href="@($"/dashboard/updatehotel/{h.Id}")" class="nav-link">
                                    <i class="bi bi-pencil-square"></i>
                                </NavLink>

                            </td>
                            <td>
                                <NavLink data-toggle="modal" href="@($"/dashboard/deletehotel/{h.Id}")" class="nav-link">
                                    <i class="bi bi-trash3"></i>
                                </NavLink>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    [Parameter] public HotelGetDto[]? hotels { get; set; }
}
