@using DomainModels

<div class="card shadow-sm mt-4">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <h5 class="card-title mb-0">
                <i class="bi bi-door-open-fill"></i> Roomtypes
            </h5>
            <a class="btn btn-secondary" href="/dashboard/createroomtype">+</a>
        </div>
        <div class="table-responsive">
            <table class="table table-striped align-middle">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Navn</th>
                        <th>Beskrivelse</th>
                        <th>Senge</th>
                        <th>Pris / nat</th>
                        <th>Oprettet</th>
                        <th>Opdateret</th>
                    </tr>
                </thead>
                <tbody>
                    @if (roomtypes == null || roomtypes.Length == 0)
                    {
                        <tr>
                            <td colspan="7" class="text-center">Ingen rumtyper</td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var r in roomtypes)
                        {
                            <tr>
                                <td>@r.Id</td>
                                <td>@r.Name</td>
                                <td>@r.Description</td>
                                <td class="text-center">@r.NumberOfBeds</td>
                                <td class="text-end">@r.PricePerNight.ToString("F2")</td>
                                <td>@r.CreatedAt.ToString("yyyy-MM-dd HH:mm")</td>
                                <td>@r.UpdatedAt.ToString("yyyy-MM-dd HH:mm")</td>
                                <td>
                                    <NavLink href="@($"/dashboard/updateroomtype/{r.Id}")" class="nav-link">
                                        <img src="images/edit.png" style="width:20px; height:20px;" alt="Edit" />
									</NavLink>
								</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    [Parameter] public RoomtypeGetDto[]? roomtypes { get; set; }
}
